body{
    background-color: #525f7f;
    color: #8898aa;
    text-align: center;
}


.surveyFormContainer{
    background-color: #ffffff;
    text-align: center;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #5e72e4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2em;
}
  
input[type=submit]:hover {
    background-color: #5e72e4;
}
  
.labelColumn {
    float: left;
    width: 25%;
    margin-top: 1.5em;
}
  
.inputColumn {
    float: left;
    width: 75%;
    margin-top: 1.5em;
}

.formRow:after, .formRadio:after {
    content: "";
    display: table;
    clear: both;
}

.formRadio{
    text-align: left;
    padding:20px;
}

@media screen and (max-width: 600px) {
    .labelColumn, .inputColumn {
      width: 100%;
      margin-top: 0;
    }
    input[type=submit] {
      width: 100%;
      margin-top: 1.5em;
    }
  }